<!doctype html>
<html>
	<head>
	</head>
	<body>
		<h1>Welcome to the joke factory!</h1>

		<p>Please fill out all of the four inputs here:</p>
		<form id="joke" method="POST" action="joke">
			<input type="text" name = "noun" id="noun" placeholder="Enter a noun" />
			<input type="text" name = "verb" id="verb" placeholder="Enter a verb" />
			<input type="text" name = "adjective" id="adjective" placeholder="Enter an adjective" />
			<input type="text" name = "adverb" id="adverb" placeholder="Enter an adverb" />
			<input type="submit" id="submit" value="Submit"/>
		</form>
	</body>
</html>